<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

DirectoryIndex  index.php
RewriteRule ^([a-z0-9]+)$   /index.php
RewriteRule ^([a-z0-9]+)/$   /index.php
RewriteRule ^view-[0-9a-zA-Z]*\.html$             /view.php
RewriteRule ^([0-9a-zA-Z]+)/view-[0-9a-zA-Z]*\.html$             /view.php
RewriteRule ^read-[0-9a-zA-Z]*\.html$             /read.php
RewriteRule ^([0-9a-zA-Z]+)/read-[0-9a-zA-Z]*\.html$             /read.php
</IfModule>